/* Estilo para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Estilo para o container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para o título principal */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilos para os botões */
button {
    background: linear-gradient(to right, #2980b9, #2c3e50); /* Gradiente azul */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 50px  !important; /* Botões arredondados */
    margin-bottom: 3px !important;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(to right, #045A72, #073B4C); /* Gradiente azul escuro */
    transform: translateY(-2px);
}


/* Estilo para os cartões de equipe */
.equipe-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.equipe-card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

/* Estilo para os detalhes da equipe */
.detalhes-equipe {
    margin-top: 20px;
    border-top: 2px solid  #045A72;
    border-radius: 20px;
    padding-top: 20px;
}

/* Estilo para os membros da equipe */
.membros-container h3 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

/* Estilo para a lista de membros da equipe */
.membros-container ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo para os membros individuais da equipe */
.membros-container li {
    margin-bottom: 5px;
    color: #555;
}

/* Estilo para os projetos atribuídos */
.projetos-container h3 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

/* Estilo para a lista de projetos atribuídos */
.projetos-container ul {
    list-style-type: none;
    padding: 0;
}

/* Estilo para os projetos individuais atribuídos */
.projetos-container li {
    margin-bottom: 5px;
    color: #555;
}

/* Estilo para o modal */
/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Alterado para 90% da largura da tela */
    max-width: 600px;
}

.modal-content h2 {
    font-size: 24px; /* Alterado o tamanho da fonte */
    margin: 0 0 10px; /* Ajustado o espaçamento inferior */
}

.modal-header,
.modal-footer {
    padding: 10px; /* Reduzido o padding */
}

.modal-body {
    padding: 10px 0; /* Reduzido o padding vertical */
}

.modal-content label {
    margin-bottom: 5px; /* Reduzido o espaçamento */
    font-size: 16px; /* Ajustado o tamanho da fonte */
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content textarea,
.modal-content input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px; /* Reduzido o padding */
    margin-bottom: 10px; /* Reduzido o espaçamento */
    font-size: 16px; /* Ajustado o tamanho da fonte */
}

.modal-content button {
    padding: 10px 20px; /* Reduzido o padding */
    font-size: 16px; /* Ajustado o tamanho da fonte */
    margin-top: 10px; /* Ajustado o espaçamento superior */
    margin-left: 0; /* Removido o ajuste de margem esquerda */
}

.close {
    font-size: 20px; /* Ajustado o tamanho da fonte */
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para os inputs */
input[type=text],
input[type=date],
textarea,
select {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

/* Estilo para os selects */
select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    padding-right: 30px;
}

/* Estilo para os efeitos de animação */
.fade-in {
    animation: fadeIn 0.5s ease;
}

.slide-in-down {
    animation: slideInDown 0.5s ease;
}

.slide-in-up {
    animation: slideInUp 0.5s ease;
}

.slide-in-left {
    animation: slideInLeft 0.5s ease;
}

/* Animação de fade */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animação de slide */
@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
