/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Estilos para a barra de navegação */
.navbar {
    background: linear-gradient(to right, #2980b9, #2c3e50); /* Gradiente azul */
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Transição suave */
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease; /* Transição suave */
}

.navbar-brand:hover {
    color: #f8c471; /* Amarelo alaranjado */
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease; /* Transição suave */
}

.navbar-nav .nav-link:hover {
    color: #f8c471; /* Amarelo alaranjado */
}

/* Estilos para o conteúdo principal */
.container {
    margin-top: 20px;
}

/* Estilos para o rodapé */
.footer {
    background: linear-gradient(to right, #2980b9, #2c3e50); /* Gradiente azul */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Transição suave */
}

.footer:hover {
    background: linear-gradient(to right, #2c3e50, #34495e); /* Gradiente azul mais escuro */
}

.footer p {
    margin-bottom: 0;
}

/* Estilos para o menu dropdown */
.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background: linear-gradient(to right, #2980b9, #2c3e50); /* Gradiente azul */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: all 0.3s ease; /* Transição suave */
    overflow: hidden; /* Oculta parte do menu que ultrapassar o limite */
}

.dropdown-menu a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    transition: background 0.3s ease; /* Transição suave */
}

.dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fundo branco com transparência */
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
    color: #f8c471; /* Amarelo alaranjado */
}

.dropdown-divider {
    margin: 0;
    border-top: 1px solid #ccc; /* Borda superior cinza */
    background-color: #34495e; /* Azul mais escuro */
}

/* Estilo para a imagem do usuário no menu dropdown */
.nav-link img {
    border-radius: 50%;
    margin-right: 10px;
}

/* Ajustes de posicionamento para a animação de fade-in */
.dropdown-menu.fade-in {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
